@import url('./register-login.css');
@import url('./media-card.css');

/* body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: bisque;
} */

/* .page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* header {
  text-align: center;
  height: 130px;
  background-color: lightblue;
} */

.home-page-link {
  padding: 10px 15px;
  border: 1px black solid;
  border-radius: 4px;
  text-decoration: none;
  background-color: darksalmon;
  color: black;
  cursor: pointer;
}

/* main {
  flex-grow: 1;
} */

/* shared div, index.html */
/* .reglog-profile-div {
  display: flex;
  justify-content: space-evenly;
} */

/* your Profile button / index.html */
.your-profile-btn {
  margin: 5px 0px 0px 5px;
  padding: 10px 15px;
  background-color: orchid;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* your profile/ user-profile.js */
.js-profile-info {
  margin: 0px 20px;
}

/* user-profile.html / user-posts.html / post.html */
.page-title {
  text-align: center;
  margin-top: 50px;
}

/* index.html textarea form */
.new-post-text-input {
  height: 60px;
  margin-bottom: 20px;
}

.new-post-btn {
  max-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 0.5rem;
}

/* index.html */
.search-posts-title {
  text-align: center;
}

/* Index.html */
.search-posts {
  margin: auto;
  margin-bottom: 55px;
  display: flex;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

/* register/login.html */
.page-title {
  text-align: center;
}

/* footer {
  text-align: center;
  height: 100px;
  background-color: cadetblue;
} */
