/* Input.css */

@import 'tailwindcss';

/* Base reset & global styles */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: bisque;
    min-height: 100vh;
  }

  header {
    background-color: lightblue;
    text-align: center;
    align-content: center;
    height: 130px;
    margin-bottom: 20px;
  }

  main {
    flex-grow: 1;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  footer {
    text-align: center;
    align-content: center;
    height: 100px;
    background-color: cadetblue;
  }
}
