/* ----- Desktop ----- */

/* .create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px black solid;
  padding-bottom: 30px;
  margin-bottom: 50px;
} */

.new-post {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
}

.latest-posts {
  margin: auto;
  max-width: 1200px;
}

.media-box {
  max-width: 1200px;
  margin: 0 auto;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  overflow-wrap: break-word;
}

.js-post-card {
  border: 1px solid black;
  cursor: pointer;
  margin: 20px 20px;
  background-color: bisque;
}

/* feed page/ js.post-card edit/delete buttons */
.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 6px;
}

.edit-btn {
  background-color: lightskyblue;
}

.delete-btn {
  background-color: lightcoral;
}

/* EDIT FORM classes from javascript */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}
.edit-form button {
  margin-top: 0.5rem;
}
.edit-title {
  margin-bottom: 0.5rem;
}
