@import url("./register-login.css");
@import url("./media-card.css");

body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: bisque;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  height: 100px;
  background-color: lightblue;
}

main {
  flex-grow: 1;
}

/* index.html textarea form */
.new-post-text-input {
  height: 60px;
  margin-bottom: 20px;
}

.new-post-btn {
  max-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.page-title {
  text-align: center;
}

footer {
  height: 100px;
  background-color: cadetblue;
}
